/*Reset default setting*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*Set up CSS variables*/
:root{
    --font: 'Inter', sans-serif;
    --primary-1: hsl(240, 38%, 20%);
    --primary-2: hsl(240, 18%, 77%);

    --text-xs: 0.6rem;
    --text-s: 1rem;
    --text-md: 1.5rem; 
}
html{
    font-family: var(--font);
    font-size: var(--text-md);
    font-weight: 300;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p{
    line-height: 1.4rem;
    color: var(--primary-1);
    overflow: hidden;
    text-align: center;
}
h5{
    color: var(--primary-1);
    margin-top: 0.75rem;
}
h6{
    color: var(--primary-2);
    margin-top: 0.2rem;
}
.main{
   max-width: 100%;
   margin: 2rem 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.slider{
    max-width: 100rem;
    margin: 0 auto;
    position: relative;
    display: flex;
    overflow: hidden;
}
.slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img--container{
    width: 300px;
    height: 100%;
    margin: 2rem 1rem;
    z-index: -1;
    /* position: relative; */
    background-image: url(./images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-size: 200px;
}
/* .img--container:after{
    content:url(./images/pattern-bg.svg);
    z-index: -1; 
    position: absolute;
    left: -100px;
    top: -50px;
} */

.img--container img{
    width: 100%;
    height: 100%;
}

.testimonial--info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn--container{
    width: 3.7rem;
    height: 1.9rem;
    display: flex;
    justify-content: center;
    background-color: rgb(226, 215, 215);
    border-radius: 25px;

}
.btn--container .btn{
    border: none;
    background-color: transparent;
    margin: 0.6rem 0.75rem;
    outline: none;
    cursor: pointer;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }